@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
}

.logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

.navbar {
  color: purple;
}

.add {
  background-color: white;
}
.navbar-dark .navbar-brand {
  font-family: "Arial", cursive !important;
  color:wheat;
  font-weight: 900;
  font-size: 2em;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: bisque;

    #formModal {
      color: black;
    }
  }

  #store {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 20px;
    justify-content: center;
    color: white;
    
    .card {
      width: 300px;
      margin: 55px;
      background-color: whitesmoke;
    }

    .card-header {
      color: black;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

